@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R8aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq_p9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq5Z9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq3p6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq0N6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqw16aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Uw-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC70w-.ttf) format('truetype');
}
@media only screen and (max-width: 768px) {
  main {
    max-width: 100%;
  }
  .about-me {
    margin: 0!important;
  }
  .p-info-container {
    flex-direction: column;
  }
}
@media only screen and (max-width: 425px) {
  .destiny_links {
    flex-direction: column;
  }
}
html {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  background-image: url('tile.png');
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: 500px;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  max-width: 1250px;
  margin: auto;
  color: white;
  background-color: rgba(58, 58, 58, 0.185);
  min-height: max-content;
  text-align: center;
  border-radius: 2%;
}
main .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}
main .header h1 {
  text-align: center;
  margin: 0;
  font-weight: 300;
}
main .header p {
  text-align: center;
  margin: 0;
  color: lightgray;
  font-style: italic;
  font-size: small;
  opacity: 50%;
}
main .header a {
  color: white;
  font-style: italic;
  font-weight: 500;
}
main .header .logo {
  margin-top: 20px;
}
main .info .info-p {
  margin: 0;
  font-size: 25px;
}
main .info .choose {
  color: lightgray;
  font-style: italic;
  font-weight: 300;
  font-size: smaller;
}
main .info .destiny_links img {
  transition: transform 500ms ease;
  image-rendering: auto;
}
main .info .destiny_links img:hover {
  transform: scale(1.1);
}
main .about-me {
  display: flex;
  margin-left: 180px;
  margin-right: 180px;
  flex-direction: column;
  align-items: center;
}
main .about-me .about-me-info p a {
  color: white;
  font-style: italic;
}
main .projects {
  max-width: 500px;
  margin: auto;
}
main .projects .items {
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
main .projects .items .item {
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  transition: transform 500ms ease;
  image-rendering: auto;
  position: relative;
}
main .projects .items .item img {
  max-width: 100%;
  height: auto;
  border-radius: 5%;
}
main .projects .items .item .hover:after {
  content: "Click me!";
  opacity: 0;
  transition: all 500ms ease;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.822);
  position: absolute;
  top: 42%;
  left: 0;
  color: white;
}
main .projects .items .item .hover:hover:after {
  opacity: 1;
}
main .projects .items .soon {
  position: relative;
  filter: grayscale(100%);
}
main .projects .items .soon:after {
  content: "Coming Soon!";
  position: fixed;
  top: 42%;
  left: 0;
  width: 100%;
  height: max-content;
  line-height: 24px;
  background-color: rgba(0, 0, 0, 0.822);
}
main .projects .items .maintenance {
  position: relative;
  filter: grayscale(100%);
}
main .projects .items .maintenance:after {
  content: "Under Maintenance!";
  position: fixed;
  top: 34%;
  left: 0;
  width: 100%;
  height: max-content;
  line-height: 24px;
  background-color: rgba(0, 0, 0, 0.822);
}
main .projects .items .item:hover {
  transform: scale(1.1);
}
main .visual-novels .vn-link {
  color: white;
  transition: transform 500ms ease;
  font-style: italic;
  font-weight: 600;
}
main .visual-novels .vn-link:hover {
  transform: scale(1.1);
}
/* -->Project pages<-- */
.header a {
  position: absolute;
  top: 2%;
  font-size: 20px;
}
.p-info-container {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-bottom: 25px;
}
.p-info-container img {
  border-radius: 15px;
}
.player-container {
  background-color: rgba(128, 128, 128, 0.349);
  border-radius: 12px;
  position: relative;
  max-height: 352px;
}
.player-container iframe {
  border-radius: 12px;
}
.links {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.links i {
  color: #ffffff;
  text-decoration: none;
  font-size: 45px;
  transition: all 500ms ease;
}
.links i:hover {
  transform: scale(1.2);
}
footer {
  max-width: 1250px;
  margin: auto;
  color: #777777;
  min-height: max-content;
  text-align: center;
  width: 100%;
}
footer .footer {
  display: flex;
  font-size: 11px;
  align-items: center;
  justify-content: space-between;
  color: #7a7a7a;
  margin: 0;
}
footer .footer a {
  color: #7a7a7a;
}
