@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R8aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq_p9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq5Z9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq3p6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq0N6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqw16aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Uw-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC70w-.ttf) format('truetype');
}
@media only screen and (max-width: 768px) {
  main {
    max-width: 100%;
  }
  .logo {
    max-width: 100%;
  }
}
html {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  background-repeat: repeat;
  background-attachment: scroll;
}
a {
  color: white;
  text-decoration: none;
}
img {
  max-width: 100%;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  min-height: max-content;
  background-color: rgba(71, 71, 71, 0.329);
  border-radius: 2%;
  padding: 1%;
  color: white;
}
main .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  flex-direction: column;
  text-align: center;
}
main .logo .logo-text {
  font-weight: 500;
  font-size: 40px;
}
main .menu {
  margin-top: 15px;
  width: 50%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-top: 1px white;
}
main .menu .menu-item {
  font-size: large;
  background-color: rgba(245, 245, 220, 0.137);
  border-radius: 15%;
  display: flex;
  text-align: center;
  width: 25%;
  height: 50px;
  justify-content: center;
  align-items: center;
  transition: 100ms all;
}
main .menu .menu-item a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .menu .menu-item:hover {
  background-color: rgba(165, 42, 42, 0.137);
}
main .menu .menu-selected {
  background-color: rgba(165, 42, 42, 0.137);
}
main .site-body {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 90%;
}
main .site-body .ms-introduction {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}
main .site-body .ms-introduction .ms-i-desc {
  width: 50%;
}
main .site-body .ms-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .site-body .ms-presentation .ms-p-segment {
  height: 300px;
  display: flex;
}
main .site-body .ms-presentation .ms-p-segment .s-gfx {
  background-image: url('images/ms-logo.png');
}
main .site-body .ms-presentation .ms-p-segment .s-demo {
  background-image: url('images/mixa.png');
}
main .site-body .ms-presentation .ms-p-segment .s-sfx {
  background-image: url('images/music.png');
}
main .site-body .ms-presentation .ms-p-segment .segment-image {
  width: 50%;
  background-position: center;
  background-size: cover;
}
main .site-body .ms-presentation .ms-p-segment .segment-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .site-body .ms-presentation .ms-p-segment .segment-info p {
  width: 90%;
}
main .join-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .join-us a {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(245, 245, 220, 0.137);
  border-radius: 15%;
  font-weight: bold;
  transition: 100ms all;
}
main .join-us a:hover {
  background-color: rgba(165, 42, 42, 0.137);
}
