@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&family=Tektur:wght@900&display=swap');

html{
    background-color: black;
    font-family: "Roboto", sans-serif;
}
main{
    background-color: black;
    width: 100%;
    .cd_container{
        background-color: black;
    }
}